* {
    margin: 0 ;
    padding: 0;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 252, 75);
    
}
.cabecalho {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        color: white;
    
        
    }
.navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navegacao li {
    display: inline;  
}
.navegacao a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: solid black 1px;
    border-radius: 50px 50px;
    padding: 5px;

}
.navegacao a:hover {
    color: rgb(5, 5, 5);
    background-color: rgb(211, 241, 75);
}
.cabecalho h2:hover {
    color: rgb(219, 235, 74);
}
.cabecalho h1:hover {
    color: rgb(247, 24, 8);
}

.itens-cardapio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaçamento entre os itens */
    list-style-type: none;
    padding: 0;
    margin: 40px;
    background-color: rgb(255, 252, 75);
}
.item {
    flex: 1 1 calc(50% - 10px); /* 50% da largura menos o gap */
    box-sizing: border-box; /* Para garantir que o padding não afete a largura dos itens */
    margin: 5px 0;
    background-color: rgb(151, 151, 121);
    border: solid black 1px;
    text-align:left;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 10px;
    
}
