* {
    margin: 0;
    padding: 0;
}
.cabecalho {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #333;
        padding: 10px 20px;
        color: white;
    
        
    }
.navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navegacao li {
    display: inline;  
}
.navegacao a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    border: solid black 1px;
    border-radius: 50px 50px;
    padding: 5px;

}
.navegacao a:hover {
    color: rgb(5, 5, 5);
    background-color: rgb(211, 241, 75);
}
.cabecalho h2:hover {
    color: rgb(219, 235, 74);
}
.cabecalho h1:hover {
    color: rgb(247, 24, 8);
}
main {
    display: flex;
    justify-content: center;
    
}
