body{
    background-color: rgb(5, 5, 5);

}
#areaLogin{
    white-space: pre;
    border-radius: 30px;
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, black, transparent), url('geometric\ gradiente.avif');
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    border: 1px solid rgb(204, 69, 69);
    padding-right: 0px;
    margin: 50px auto; /* Centraliza horizontalmente */
    max-width: 400px; /* Limita a largura */
    display: flex; /* Flexbox */
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    padding-top: 5px ;

    
}

input{
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}
#entrarTelaLogin{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(2, 2, 2, 0.7);
    color: white;
    border: solid 1px black;
    cursor: pointer;
    margin-top: 10px; /* Espaço entre o botão e os outros elementos */
    transition: background-color 0.3s ease;

    

    
    
}
#nomeRedeSocialLogin{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 15px;
    font-size: 50px;
    color: white;
    margin-bottom: 15px;
    

}
h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 15px;
    font-size: 20px;
    color: white;
    margin: 0px;
}

.estiloDiv {
    border: 1px solid rgb(245, 82, 82);
    border-radius: 30px;
    color: white;
    max-width: 400px; /* Limita a largura */
    margin:  auto; /* Centraliza horizontalmente */
}
#esqueceuSenha {
    display: block; 
    text-align: center;
    margin-top: 10px; 
    color: white;
}
p{
    margin-left: 15px;
}
#entrarTelaLogin:hover {
    background-color: rgba(204, 69, 69, 0.9);
    color: white;
    cursor: pointer;
    transform: scale(1.05); /* Efeito de crescimento suave */
}
#esqueceuSenha:hover {
    text-decoration: underline;
    color: rgb(204, 69, 69);
    transition: color 0.3s ease;
}
h2{
    margin-bottom: 15px;
}
@media (max-width: 480px) {
    #areaLogin {
        padding: 10px;
        margin: 20px auto;
    }
    #nomeRedeSocialLogin {
        font-size: 30px;
        margin-bottom: 10px;
    }
    input {
        font-size: 14px;
    }
    #entrarTelaLogin {
        font-size: 14px;
        padding: 8px;
    }

}